body{
    margin:0;
    border:0;
}
.parent{
    width: 1366px;
    height:1368px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
}
.Navi{
    background: white;
    height:80px;
    width: 1366px;
    border: 1px white solid;
    box-sizing:border-box;
    box-shadow: 3px, 3px, 30px #7B7B7B29;
}
h1{
    width:196px;
    height:40px;
    margin-top: 20px;
    margin-left: 137px;
    font-size: 40px;
    font-weight: bold;
}
span{
    color: #00a5ec;
}
.container{
    background: whitesmoke;
    margin-top: 20px;
}
.icon{
    margin-left: 1011px;
    padding-top:50px;
}
.plus{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    border: 1px grey;
    border-radius: 50%;
    background-color:#00a5ec;
}
.anchor{
    font-size: 22px;
    color:grey;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration:none;
    margin-left:140px;
}
a{
    text-decoration: none;
}
.container2{
    height: 1000px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}
.para{
    font-size: 24px;
    color: #00a5ec;
    margin-top: 34px;
    margin-left: 30px;
}
hr{
    color: gray;
}
form{
    margin-top: 20px;
    margin-left: 30px;
}
.ll{
    text-decoration: line-through;
    font-size: 20px;
    color: grey;
}
.sl{
    font-size: 20px;
}
.child{
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    border-radius:10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width: 352px;
    height: 360px;
    opacity: 1;
}
.child1{
    margin-top: 56px;
    margin-left: 139px;
}
.child2{
    margin-top: 56px;
    margin-left: 15px;
}
.child3{
    margin-top: 56px;
    margin-left: 15px;
}
.child4{
    margin-top: -100px;
    margin-left: 139px;
}
.child5{
    margin-top: -100px;
    margin-left: 15px;
} 

@media only screen and (max-width:360px){
body{
    margin:0;
    border:0;
}
.parent{
    width: 350px;
    height:2050px;
    margin: auto;
    margin-top:0px;
    margin-bottom:10px;
    border: 1px solid grey;
}
.Navi{
    background: white;
    height:60px;
    width:100vw;
    border: 1px white solid;
    box-sizing:border-box;
    box-shadow: 3px, 3px, 30px #7B7B7B29;
}
h1{
    width:118px;
    height:29px;
    margin-top:16px;
    margin-left:12px;
    margin-bottom: 15px;
    font-size:25px;
    font-weight: bold;
}
span{
    color: #00a5ec;
}
.container{
    background: whitesmoke;
    margin-top: 20px;
}
.icon{
    margin-left:auto;
    padding-top:20px;
}
.plus{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    border: 1px grey;
    border-radius: 50%;
    background-color:#00a5ec;
}
.anchor{
    font-size: 22px;
    color:grey;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-decoration:none;
    margin-left:140px;
}
a{
    text-decoration: none;
}
.container2{
    margin-bottom:20px;
    display: flex;
    flex-wrap: wrap;
}
.para{
    font-size: 20px;
    color: #00a5ec;
    margin-top: 34px;
    margin-left:20px;
}
hr{
    color: gray;
}
form{
    margin-top: 20px;
    margin-left: 30px;
}
.ll{
    text-decoration: line-through;
    font-size: 16px;
    color: grey;
}
.sl{
    font-size: 16px;
}
.child{
    border: 1px solid #EDEDED;
    background: #FFFFFF;
    border-radius:10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    width:336px;
    height:360px;
    opacity: 1;
    box-sizing: border-box;
}
.child1{
   margin: auto;
   margin-top: 20px;
}
.child2{
    margin: auto;
    margin-top: 20px;
}
.child3{
    margin: auto;
    margin-top: 20px;
}
.child4{
    margin: auto;
    margin-top: 20px;
}
.child5{
    margin: auto;
    margin-top: 20px;
}
}


